  {{#each student}} 
            
           <div class="card text-black bg-secondary mb-3 mt-3" style="width: 20rem; margin:0 auto; al" >
                <div class="card">
                    <div class="card-body">

                                                   
                        Name : {{this.Name}} <br/> Email : {{this.Email}} <br/> Password : {{this.Password}}
                      

                    </div>
                
               
                </div>
            </div>

 {{/each}}  